<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<% if (isProduction) { %>
		<link href="/iUI/cache/<%=assetsCache.iUIcss||0%>/style.css" rel="stylesheet">
	<% } else { %>
		<link rel="stylesheet" href="iUI/iui.css" type="text/css" />
		<link rel="stylesheet" href="iUI/t/default/default-theme.css" type="text/css"/>
	<% } %>
	<script type="application/x-javascript" src="iUI/iui.js"></script>
</head>
<body>
	<div class="toolbar">
		<h1 id="pageTitle">How Many Days</h1>
		<a id="backButton" class="button" href="#"></a>
	</div>
	<ul id="index" title="Index" selected="true">
		<li>Welcome to index!</li>
		<li class="group">Menu</li>
		<li><a href="#hello">Go to Hello World</a></li>
		<li><a href="#login">Go to login</a></li>
	</ul>
	<div id="hello" title="Hello World">
		<h1>Hello World</h1>
		<a href="#index">Back to index</a>
	</div>
	<form id="login" title="Login" class="panel" name="loginform" action="/login" method="post">
		<fieldset>
			<div class="row">
				<label>Login</label>
				<input type="text" name="username" placeholder="username">
			</div>
			<div class="row">
				<label>Password</label>
				<input type="password" name="password" placeholder="password">
			</div>
		</fieldset>
		<a class="whiteButton" href="javascript:loginform.submit()">Login me in!</a>
	</form>
</body>
</html>
